{{ define "main" }}

{{ partial "header_post.html" . }}    

<article class="flex flex-col prose prose-stone dark:prose-invert min-w-full prose-a:text-brand items-center">

  <date class="text-sm w-full text-center font-semibold">{{ .Date.Format "January 2, 2006" }}</date>
  {{ if .Title }}
    <h1 class="text-4xl w-full text-center font-bold mt-8 mb-20 max-w-xl">{{ .Title }}</h1>
  {{ end }}

  <div class="prose-xl prose-heading:text-2xl w-full leading-tight max-w-2xl">
    {{ .Content }}
  </div>

</article>

{{ end }}